body {
  background: #009688 ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p20 {
  padding-top: 20px;
  padding-bottom: 20px;
} 
.mt2 {
  margin-top: 2rem;
}

.w50 {
  width: 50%;
}

.wrong {
  color: #ef5350;
  font-size: 0.9rem;
}

.input-wrong {
  border-bottom: 1px solid #ef5350 !important;
}

.disabled-link {
  pointer-events: none !important;
}

.disabled-link a {
  color: dimgrey;
}

li > span {
  margin-right: 10px;
}